In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder \
    .appName('Batch-Processing') \
    .config('spark.jars', 'driver/postgresql-42.6.0.jar') \
    .getOrCreate()

In [2]:
import json
def read_data(spark, table_name: str) -> DataFrame:
    with open('config/config.json', 'r') as config_file:
        config_data = json.load(config_file)
        host = config_data['staging']['host']
        port = config_data['staging']['port']
        database = config_data['staging']['database']
        user = config_data['staging']['user']
        password = config_data['staging']['password']

    url = 'jdbc:postgresql://{0}:{1}/{2}'.format(host, port, database)
    properties = {
        'user': user,
        'password': password,
        'driver': 'org.postgresql.Driver'}
    df = spark.read.jdbc(url=url, table=table_name, properties=properties)
    print(f'Read data from {table_name} successfully!')
    return df

In [3]:
green_taxi = read_data(spark, 'green_taxi')
# green_taxi.show()

Read data from green_taxi successfully!

In [4]:
taxi_zone = read_data(spark, 'taxi_zone_lookup').select(
    ['LocationID', 'Zone', 'Borough'])

Read data from taxi_zone_lookup successfully!

In [5]:
def join_data(left, right, left_on: str, right_on: str, cols_to_lookup: List[str], how='inner') -> DataFrame:
    df = left.join(right, left[left_on] == right[right_on], how)
    if cols_to_lookup:
        df = df.select(cols_to_lookup)
    return df

In [6]:
cols = ['VendorID', 'RatecodeID', 'pickup_datetime', 'pickup_borough', 'pickup_zone', 'dropoff_datetime', 'dropoff_borough', 'dropoff_zone', 'passenger_count',
        'trip_distance_in_km', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge', 'total_amount', 'payment_type']
join_data_green = join_data(green_taxi, taxi_zone,
                            'PULocationID', 'LocationID', [])
join_data_green = join_data_green.withColumnRenamed(
    'Zone', 'pickup_zone').withColumnRenamed('Borough', 'pickup_borough').drop('LocationID')
join_data_green = join_data(
    join_data_green, taxi_zone, 'DOLocationID', 'LocationID', [])
join_data_green = join_data_green.withColumnRenamed(
    'Zone', 'dropoff_zone').withColumnRenamed('Borough', 'dropoff_borough').drop('LocationID')
join_data_green = join_data_green.select(cols)
join_data_green = join_data_green.withColumn(
    'revenue_month', month('pickup_datetime'))
join_data_green.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- pickup_borough: string (nullable = true)
 |-- pickup_zone: string (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- dropoff_borough: string (nullable = true)
 |-- dropoff_zone: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance_in_km: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: integer (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- revenue_month: integer (nullable = true)

In [7]:
df = join_data_green.groupBy(['pickup_zone', 'revenue_month']).agg(sum('fare_amount').alias('revenue_monthly_fare'),
                                                                   sum('extra').alias('revenue_monthly_extra'),
                                                                   sum('mta_tax').alias('revenue_monthly_mta_tax'),
                                                                   sum('tip_amount').alias('revenue_monthly_tip_amount'),
                                                                   sum('tolls_amount').alias('revenue_monthly_tolls_amount'),
                                                                   sum('total_amount').alias('revenue_monthly_total_amount'),
                                                                   sum('mta_tax').alias('congestion_surcharge'),
                                                                   count('*').alias('total_monthly_trips'),
                                                                   avg('passenger_count').alias('avg_monthly_passenger_count'),
                                                                   avg('trip_distance_in_km').alias('avg_monthly_trip_distance'))
df.show()

+--------------------+-------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+----------------------------+--------------------+-------------------+---------------------------+-------------------------+
|         pickup_zone|revenue_month|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_total_amount|congestion_surcharge|total_monthly_trips|avg_monthly_passenger_count|avg_monthly_trip_distance|
+--------------------+-------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+----------------------------+--------------------+-------------------+---------------------------+-------------------------+
|       Port Richmond|            2|                16.0|                  0.5|                    0.5|                       2.0|                         0.0|                        19.3|                 0.5|                  1|                        3.0|                     7.06|
|           Bellerose|            2|                63.5|                  0.0|                    1.0|                       0.0|                         0.0|           68.14999999999999|                 1.0|                  3|         1.6666666666666667|                      9.6|
|Upper East Side S...|            1|               108.5|                  0.0|                    0.0|                     21.63|                       13.75|                      150.28|                 0.0|                  3|                       null|        8.363333333333333|
|Williamsburg (Nor...|            2|             5079.96|                 59.5|                   65.0|                    934.56|           64.14999999999999|           6565.520000000002|                65.0|                287|                        1.4|       449.63132404181175|
|Upper West Side S...|            1|  167.01999999999998|                  1.0|                    1.0|                      34.1|                        13.1|                      228.72|                 1.0|                  5|                        1.5|       12.168000000000001|
|            Gramercy|            2|              138.11|                  0.0|                    0.5|                     25.35|                        26.2|                      199.61|                 0.5|                  4|                        1.0|                   7.8725|
| Ocean Parkway South|            2|               155.6|                  1.0|                    3.5|                       0.0|                         0.0|                       162.2|                 3.5|                  7|         1.4285714285714286|        5.162857142857143|
|Prospect-Lefferts...|            2|  3100.8100000000013|                  3.5|                   34.0|                    315.98|           50.74999999999999|                     3581.44|                34.0|                141|                      1.125|        1886.371843971631|
|       Rockaway Park|            1|               152.6|                  0.0|                    1.5|                       0.0|                        18.0|                       173.0|                 1.5|                  3|                        1.0|                      0.0|
|           Stapleton|            1|              106.77|                  0.0|                    0.0|                     11.12|                        26.2|                      144.69|                 0.0|                  2|                       null|                    11.24|
|East New York/Pen...|            1|              436.44|                  0.0|                    6.0|                     13.27|                        6.55|          468.56000000000006|                 6.0|                 21|         0.7692307692307693|        4.481428571428571|
|      Central Harlem|            2|   59482.60999999987|              1565.25|                 2397.5|         7631.640000000025|           840.5999999999983|           77173.75000000346|              2397.5|               5437|         1.2235631008386174|       138.19196615780754|
|Briarwood/Jamaica...|            2|  2433.7099999999996|                 16.5|                   16.0|                     92.21|                        39.3|           2622.119999999999|                16.0|                 63|         1.2181818181818183|        6.032539682539683|
|       Fordham South|            1|             2598.43|                  4.0|                    6.5|                     10.18|                        6.55|          2660.8100000000004|                 6.5|                108|                        1.4|         740.750740740741|
|          Greenpoint|            3|               15.52|                  0.0|                    0.0|                       0.0|                         0.0|                       15.82|                 0.0|                  1|                       null|                     5.42|
|    Bensonhurst West|            3|                14.0|                  0.5|                    0.5|                       0.0|                         0.0|                        15.3|                 0.5|                  1|                        1.0|                      5.3|
|          Bronx Park|            2|              217.43|                  1.0|                    2.5|                     16.68|                        13.1|                      261.66|                 2.5|                  9|                        1.0|       7.8244444444444445|
|Schuylerville/Edg...|            2|              426.45|                  1.5|                    9.0|                      4.82|                       19.65|           468.0200000000001|                 9.0|                 23|         1.1428571428571428|        8336.516521739131|
|             Jamaica|            3|                95.5|                  6.5|                    4.5|        19.029999999999998|                         0.0|                      128.23|                 4.5|                  9|                        1.0|        4.484444444444445|
|       Prospect Park|            2|  1130.9300000000003|                 19.5|                   26.0|         228.9899999999999|                        6.55|                     1465.07|                26.0|                 67|          1.679245283018868|       2487.5465671641796|
+--------------------+-------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+----------------------------+--------------------+-------------------+---------------------------+-------------------------+
only showing top 20 rows

In [10]:
yellow_taxi = read_data(spark, 'yellow_taxi')

Read data from yellow_taxi successfully!

In [12]:
yellow_taxi.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)
 |-- trip_time_in_mins: double (nullable = true)
 |-- trip_distance_in_km: double (nullable = true)
 |-- average_velocity: double (nullable = true)

In [ ]:
load(df, schema='production', table_name=name)