In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder \
        .appName("ETL-with-spark") \
        .getOrCreate()

In [3]:
df = spark.read.parquet('green_tripdata_2022-01.parquet')

In [4]:
for i in ['passenger_count', 'RateCodeID', 'payment_type', 'trip_type']:
    df = df.withColumn(i, col(i).cast(IntegerType()))

In [5]:
df.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RateCodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2022-01-01 07:14:21|  2022-01-01 07:15:33|                 N|         1|          42|          42|              1|         0.44|        3.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         4.8|           2|        1|                 0.0|
|       1| 2022-01-01 07:20:55|  2022-01-01 07:29:38|                 N|         1|         116|          41|              1|          2.1|        9.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        10.8|           2|        1|                 0.0|
|       1| 2022-01-01 07:57:02|  2022-01-01 08:13:14|                 N|         1|          41|         140|              1|          3.7|       14.5| 3.25|    0.5|       4.6|         0.0|     null|                  0.3|       23.15|           1|        1|                2.75|
|       2| 2022-01-01 07:07:42|  2022-01-01 07:15:57|                 N|         1|         181|         181|              1|         1.69|        8.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         9.3|           2|        1|                 0.0|
|       2| 2022-01-01 07:07:50|  2022-01-01 07:28:52|                 N|         1|          33|         170|              1|         6.26|       22.0|  0.5|    0.5|      5.21|         0.0|     null|                  0.3|       31.26|           1|        1|                2.75|
|       1| 2022-01-01 07:47:57|  2022-01-01 07:54:09|                 N|         1|         150|         210|              1|          1.3|        7.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         8.3|           2|        1|                 0.0|
|       2| 2022-01-01 07:13:38|  2022-01-01 07:33:50|                 N|         1|          66|          67|              1|         6.47|       22.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        23.8|           2|        1|                 0.0|
|       2| 2022-01-01 07:43:00|  2022-01-01 07:49:20|                 N|         1|          40|         195|              1|         1.15|        6.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         7.3|           2|        1|                 0.0|
|       2| 2022-01-01 07:41:04|  2022-01-01 07:47:04|                 N|         1|         112|          80|              1|          1.3|        6.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         7.3|           2|        1|                 0.0|
|       2| 2022-01-01 07:51:07|  2022-01-01 08:09:31|                 N|         1|         256|         186|              1|         4.75|       17.0|  0.5|    0.5|      4.21|         0.0|     null|                  0.3|       25.26|           1|        1|                2.75|
|       2| 2022-01-01 06:44:03|  2022-01-01 06:57:25|                 N|         1|          75|           4|              1|         6.03|       18.5|  0.5|    0.5|       1.5|         0.0|     null|                  0.3|       24.05|           1|        1|                2.75|
|       2| 2022-01-01 07:06:59|  2022-01-01 07:21:24|                 N|         1|          41|         116|              1|         2.82|       12.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        13.8|           2|        1|                 0.0|
|       2| 2022-01-01 07:47:35|  2022-01-01 07:50:20|                 N|         1|          75|          74|              1|          0.7|        4.5|  0.5|    0.5|      1.45|         0.0|     null|                  0.3|        7.25|           1|        1|                 0.0|
|       2| 2022-01-01 07:10:25|  2022-01-02 06:10:29|                 N|         1|          74|         260|              1|         5.48|       17.5|  0.5|    0.5|       0.0|        6.55|     null|                  0.3|       25.35|           2|        1|                 0.0|
|       2| 2022-01-01 07:52:27|  2022-01-01 08:25:16|                 N|         1|          74|         231|              1|         7.54|       26.5|  0.5|    0.5|      6.11|         0.0|     null|                  0.3|       36.66|           1|        1|                2.75|
|       1| 2022-01-01 07:47:31|  2022-01-01 07:49:51|                 N|         1|          74|          42|              1|          0.9|        4.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         5.8|           3|        1|                 0.0|
|       1| 2022-01-01 07:59:10|  2022-01-01 08:21:02|                 N|         1|          41|          94|              1|          6.2|       21.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        22.8|           1|        1|                 0.0|
|       2| 2022-01-01 07:12:00|  2022-01-01 07:26:26|                 N|         5|         213|         174|              1|         5.57|       20.0|  0.0|    0.0|       0.0|         0.0|     null|                  0.3|        20.3|           2|        2|                 0.0|
|       2| 2022-01-01 07:47:15|  2022-01-01 07:53:07|                 N|         1|          51|         185|              1|         1.87|        7.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         8.3|           2|        1|                 0.0|
|       2| 2022-01-01 07:54:40|  2022-01-01 08:17:02|                 N|         5|         185|         119|              1|          6.6|       25.0|  0.0|    0.0|       0.0|         0.0|     null|                  0.3|        25.3|           2|        2|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [6]:
trip_time_in_mins = unix_timestamp(
		col('lpep_dropoff_datetime')) - unix_timestamp(col('lpep_pickup_datetime'))
df = df.withColumn('trip_time_in_mins', round(trip_time_in_mins / 60, 2))
df.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+-----------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RateCodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|trip_time_in_mins|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+-----------------+
|       2| 2022-01-01 07:14:21|  2022-01-01 07:15:33|                 N|         1|          42|          42|              1|         0.44|        3.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         4.8|           2|        1|                 0.0|              1.2|
|       1| 2022-01-01 07:20:55|  2022-01-01 07:29:38|                 N|         1|         116|          41|              1|          2.1|        9.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        10.8|           2|        1|                 0.0|             8.72|
|       1| 2022-01-01 07:57:02|  2022-01-01 08:13:14|                 N|         1|          41|         140|              1|          3.7|       14.5| 3.25|    0.5|       4.6|         0.0|     null|                  0.3|       23.15|           1|        1|                2.75|             16.2|
|       2| 2022-01-01 07:07:42|  2022-01-01 07:15:57|                 N|         1|         181|         181|              1|         1.69|        8.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         9.3|           2|        1|                 0.0|             8.25|
|       2| 2022-01-01 07:07:50|  2022-01-01 07:28:52|                 N|         1|          33|         170|              1|         6.26|       22.0|  0.5|    0.5|      5.21|         0.0|     null|                  0.3|       31.26|           1|        1|                2.75|            21.03|
|       1| 2022-01-01 07:47:57|  2022-01-01 07:54:09|                 N|         1|         150|         210|              1|          1.3|        7.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         8.3|           2|        1|                 0.0|              6.2|
|       2| 2022-01-01 07:13:38|  2022-01-01 07:33:50|                 N|         1|          66|          67|              1|         6.47|       22.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        23.8|           2|        1|                 0.0|             20.2|
|       2| 2022-01-01 07:43:00|  2022-01-01 07:49:20|                 N|         1|          40|         195|              1|         1.15|        6.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         7.3|           2|        1|                 0.0|             6.33|
|       2| 2022-01-01 07:41:04|  2022-01-01 07:47:04|                 N|         1|         112|          80|              1|          1.3|        6.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         7.3|           2|        1|                 0.0|              6.0|
|       2| 2022-01-01 07:51:07|  2022-01-01 08:09:31|                 N|         1|         256|         186|              1|         4.75|       17.0|  0.5|    0.5|      4.21|         0.0|     null|                  0.3|       25.26|           1|        1|                2.75|             18.4|
|       2| 2022-01-01 06:44:03|  2022-01-01 06:57:25|                 N|         1|          75|           4|              1|         6.03|       18.5|  0.5|    0.5|       1.5|         0.0|     null|                  0.3|       24.05|           1|        1|                2.75|            13.37|
|       2| 2022-01-01 07:06:59|  2022-01-01 07:21:24|                 N|         1|          41|         116|              1|         2.82|       12.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        13.8|           2|        1|                 0.0|            14.42|
|       2| 2022-01-01 07:47:35|  2022-01-01 07:50:20|                 N|         1|          75|          74|              1|          0.7|        4.5|  0.5|    0.5|      1.45|         0.0|     null|                  0.3|        7.25|           1|        1|                 0.0|             2.75|
|       2| 2022-01-01 07:10:25|  2022-01-02 06:10:29|                 N|         1|          74|         260|              1|         5.48|       17.5|  0.5|    0.5|       0.0|        6.55|     null|                  0.3|       25.35|           2|        1|                 0.0|          1380.07|
|       2| 2022-01-01 07:52:27|  2022-01-01 08:25:16|                 N|         1|          74|         231|              1|         7.54|       26.5|  0.5|    0.5|      6.11|         0.0|     null|                  0.3|       36.66|           1|        1|                2.75|            32.82|
|       1| 2022-01-01 07:47:31|  2022-01-01 07:49:51|                 N|         1|          74|          42|              1|          0.9|        4.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         5.8|           3|        1|                 0.0|             2.33|
|       1| 2022-01-01 07:59:10|  2022-01-01 08:21:02|                 N|         1|          41|          94|              1|          6.2|       21.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        22.8|           1|        1|                 0.0|            21.87|
|       2| 2022-01-01 07:12:00|  2022-01-01 07:26:26|                 N|         5|         213|         174|              1|         5.57|       20.0|  0.0|    0.0|       0.0|         0.0|     null|                  0.3|        20.3|           2|        2|                 0.0|            14.43|
|       2| 2022-01-01 07:47:15|  2022-01-01 07:53:07|                 N|         1|          51|         185|              1|         1.87|        7.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         8.3|           2|        1|                 0.0|             5.87|
|       2| 2022-01-01 07:54:40|  2022-01-01 08:17:02|                 N|         5|         185|         119|              1|          6.6|       25.0|  0.0|    0.0|       0.0|         0.0|     null|                  0.3|        25.3|           2|        2|                 0.0|            22.37|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+-----------------+
only showing top 20 rows

In [ ]:
type_trip = when(col(trip_time_in_mins) >= 60 * 6, 'Long Trip').when(col(trip_time_in_mins) < 60 * 6 and col(trip_time_in_mins) > 60 * 2, 'Medium Trip').otherwise('Short Trip')

In [ ]:
df_zone = spark.read.csv('data', inferSchema=True, header=True)
df_zone = df_zone.filter(col('Borough') != 'Unknown')
df_zone.show()

In [3]:
host = 'localhost'
port = '5432'
database = 'etl_with_spark_nytaxi'
user = 'postgres'
password = 'tanduy2407'
url = 'jdbc:postgresql://{0}:{1}/{2}'.format(host, port, database)
properties = {
    'user': user,
    'password': password,
    'driver': 'org.postgresql.Driver'}
df.write.jdbc(url=url, table='taxi_zone_lookup', mode='overwrite',
                properties=properties)

In [4]:
df.show()

+----------+-------------+--------------------+------------+
|locationid|      borough|                zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|  Green Zone|
|         3|        Bronx|Allerton/Pelham G...|  Green Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|  Green Zone|
|         6|Staten Island|Arrochar/Fort Wad...|  Green Zone|
|         7|       Queens|             Astoria|  Green Zone|
|         8|       Queens|        Astoria Park|  Green Zone|
|         9|       Queens|          Auburndale|  Green Zone|
|        10|       Queens|        Baisley Park|  Green Zone|
|        11|     Brooklyn|          Bath Beach|  Green Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|  Green Zone|
|        15|       Queens|Bay Terrace/Fort ...|  Green Zone|
|        16|       Queens|             Bayside|  Green Zone|
|        17|     Brooklyn|             Bedford|  Green Zone|
|        18|        Bronx|        Bedford Park|  Green Zone|
|        19|       Queens|           Bellerose|  Green Zone|
|        20|        Bronx|             Belmont|  Green Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows