In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder \
        .appName("ETL-with-spark") \
        .getOrCreate()

In [10]:
parquet_file_path = 'data/green_taxi'
df = spark.read.parquet(parquet_file_path)
for i in ['passenger_count', 'RateCodeID', 'payment_type', 'trip_type']:
    df = df.withColumn(i, col(i).cast(IntegerType()))

In [11]:
payment_type_mapping = when(col('id') == 1, 'Credit card'). \
                   when(col('id') == 2, 'Cash'). \
                   when(col('id') == 3, 'No charge'). \
                   when(col('id') == 4, 'Dispute'). \
                   when(col('id') == 5, 'Unknown').otherwise('Voided trip')
df_payment = df.select('payment_type').withColumnRenamed('payment_type', 'id').distinct().dropna().orderBy(col('id'))
df_payment = df_payment.withColumn('payment_type', payment_type_mapping)

df_triptype = df.select('trip_type').withColumnRenamed('trip_type', 'id').distinct().dropna().orderBy(col('id'))
df_triptype = df_triptype.withColumn('trip_type', when(col('id') == 1, 'Street-hail').
                                        when(col('id') == 2, 'Dispatch'))

rate_code_mapping = when(col('id') == 1, 'Standard rate'). \
                   when(col('id') == 2, 'JFK'). \
                   when(col('id') == 3, 'Newark'). \
                   when(col('id') == 4, 'Nassau or Westchester'). \
                   when(col('id') == 5, 'Negotiated fare').otherwise('Group ride')
df_ratecode = df.select('RateCodeID').withColumnRenamed('RateCodeID', 'id').distinct().dropna().orderBy(col('id'))
df_ratecode = df_ratecode.withColumn('rate_type', rate_code_mapping)

df_vendor = df.select('VendorID').withColumnRenamed('VendorID', 'id').distinct().dropna().orderBy(col('id'))
df_vendor = df_vendor.withColumn('vendor', when(col('id') == 1, 'Creative Mobile Technologies, LLC').
                                 when(col('id') == 2, 'VeriFone Inc.'))

trip_time_in_mins = unix_timestamp(col('lpep_dropoff_datetime')) - unix_timestamp(col('lpep_pickup_datetime'))
df = df.withColumn('trip_time_in_mins', round(trip_time_in_mins / 60, 2))

In [14]:
df_zone = spark.read.csv('data/taxi_zone_lookup.csv', inferSchema=True, header=True)
df_zone = df_zone.filter(col('Borough') != 'Unknown')
df_zone.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [12]:
df.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+-----------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RateCodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|trip_time_in_mins|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+-----------------+
|       2| 2022-02-01 07:20:21|  2022-02-01 07:24:30|                 N|         1|          43|         238|              1|         1.16|        5.5|  0.5|    0.5|      1.02|         0.0|     null|                  0.3|        7.82|           1|        1|                 0.0|             4.15|
|       2| 2022-02-01 07:32:26|  2022-02-01 07:35:31|                 N|         1|         166|          24|              1|         0.57|        4.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         5.8|           2|        1|                 0.0|             3.08|
|       1| 2022-02-01 07:17:27|  2022-02-01 07:44:44|                 N|         1|         226|         219|              1|          0.0|       42.2|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        43.0|           1|        1|                 0.0|            27.28|
|       2| 2022-02-01 07:45:37|  2022-02-01 08:27:16|                 N|         1|          89|          83|              1|        16.62|       49.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        50.3|           2|        1|                 0.0|            41.65|
|       2| 2022-02-01 07:06:46|  2022-02-01 07:30:06|                 N|         1|           7|         238|              1|         5.97|       21.0|  0.5|    0.5|       4.5|         0.0|     null|                  0.3|       29.55|           1|        1|                2.75|            23.33|
|       2| 2022-02-01 07:26:19|  2022-02-01 07:26:28|                 N|         5|         197|         197|              1|          0.0|        8.0|  0.0|    0.0|       0.0|         0.0|     null|                  0.3|         8.3|           1|        2|                 0.0|             0.15|
|       2| 2022-02-01 07:01:11|  2022-02-01 07:09:58|                 N|         1|         166|         116|              1|         1.77|        8.5|  0.5|    0.5|      1.96|         0.0|     null|                  0.3|       11.76|           1|        1|                 0.0|             8.78|
|       2| 2022-02-01 07:16:47|  2022-02-01 07:36:18|                 N|         4|         244|         265|              2|         7.51|       23.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        24.3|           2|        1|                 0.0|            19.52|
|       2| 2022-02-01 07:54:37|  2022-02-01 07:57:16|                 N|         1|         127|         243|              1|          0.5|        4.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         5.3|           2|        1|                 0.0|             2.65|
|       2| 2022-01-31 21:45:51|  2022-01-31 21:54:58|                 N|         1|          75|          42|              1|         2.87|       10.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        11.3|           2|        1|                 0.0|             9.12|
|       2| 2022-01-31 22:15:28|  2022-01-31 22:21:05|                 N|         1|          75|          75|              1|         0.78|        5.5|  0.5|    0.5|      1.36|         0.0|     null|                  0.3|        8.16|           1|        1|                 0.0|             5.62|
|       2| 2022-02-01 07:09:25|  2022-02-01 07:24:23|                 N|         1|         244|         208|              1|         7.16|       21.5|  0.5|    0.5|       2.0|         0.0|     null|                  0.3|        24.8|           1|        1|                 0.0|            14.97|
|       2| 2022-02-01 07:02:18|  2022-02-01 07:25:07|                 N|         1|         116|         164|              1|         7.11|       24.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|       28.05|           2|        1|                2.75|            22.82|
|       2| 2022-02-01 07:05:12|  2022-02-01 07:13:40|                 N|         1|          95|         196|              1|         1.45|        7.0|  0.5|    0.5|      2.49|         0.0|     null|                  0.3|       10.79|           1|        1|                 0.0|             8.47|
|       2| 2022-02-01 07:16:40|  2022-02-01 07:26:23|                 N|         1|         130|          10|              1|         2.17|        9.0|  0.5|    0.5|      2.06|         0.0|     null|                  0.3|       12.36|           1|        1|                 0.0|             9.72|
|       1| 2022-02-01 07:23:38|  2022-02-01 07:33:28|                 N|         1|         146|         223|              1|          1.9|        8.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         9.8|           2|        1|                 0.0|             9.83|
|       1| 2022-02-01 07:40:34|  2022-02-01 07:47:24|                 N|         1|         179|         223|              1|          1.5|        7.0|  0.5|    0.5|      1.65|         0.0|     null|                  0.3|        9.95|           1|        1|                 0.0|             6.83|
|       2| 2022-02-01 07:05:41|  2022-02-01 07:17:18|                 N|         1|          95|         121|              1|         2.47|       10.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        11.8|           1|        1|                 0.0|            11.62|
|       1| 2022-02-01 07:51:50|  2022-02-01 08:00:03|                 N|         1|          41|         239|              1|          1.5|        7.5| 2.75|    0.5|       2.2|         0.0|     null|                  0.3|       13.25|           1|        1|                2.75|             8.22|
|       2| 2022-02-01 07:11:23|  2022-02-01 08:00:38|                 N|         1|          83|          82|              2|         5.75|       30.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        31.8|           2|        1|                 0.0|            49.25|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+-----------------+
only showing top 20 rows